@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/dashboard.css" />
	<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
}

<div class="mb-4">
	<h2 style="display: inline;" id="greeting"></h2><h2 style="display: inline;">, @User.Identity!.Name</h2>
</div>

<div class="row">
	@if (User.IsInRole("admin"))
	{
		<div class="col-lg-3 col-6">
			<div class="small-box bg-success">
				<div class="inner">
					<h3 id="userCount">0</h3>
					<p>Users</p>
				</div>
				<div class="icon">
					<i class="ion ion-person"></i>
				</div>
				<a href="/user/index" class="small-box-footer">
					More info <i class="ion ion-arrow-right-c"></i>
				</a>
			</div>
		</div>

		<div class="col-lg-3 col-6">
			<div class="small-box bg-info">
				<div class="inner">
					<h3 id="employeeCount">0</h3>
					<p>Employees</p>
				</div>
				<div class="icon">
					<i class="ion ion-ios-people"></i>
				</div>
				<a href="/employee/index" class="small-box-footer">
					More info <i class="ion ion-arrow-right-c"></i>
				</a>
			</div>
		</div>
	}

	@if(User.IsInRole("admin") || User.IsInRole("user"))
	{
		<div class="col-lg-3 col-6">
			<div class="small-box bg-primary">
				<div class="inner">
					<h3 id="orderCount">0</h3>
					<p>Orders</p>
				</div>
				<div class="icon">
					<i class="ion ion-bag"></i>
				</div>
				<a href="/order/index" class="small-box-footer">
					More info <i class="ion ion-arrow-right-c"></i>
				</a>
			</div>
		</div>

		<div class="col-lg-3 col-6">
			<div class="small-box bg-warning">
				<div class="inner">
					<h3 id="complaintCount">0</h3>
					<p>Complaints</p>
				</div>
				<div class="icon">
					<i class="ion ion-clipboard"></i>
				</div>
				<a href="/complaint/index" class="small-box-footer">More info <i class="ion ion-arrow-right-c"></i></a>
			</div>
		</div>
	}

	@if (User.IsInRole("admin") || User.IsInRole("staff"))
	{
		<div class="col-lg-3 col-6">
			<div class="small-box bg-success">
				<div class="inner">
					<h3 id="resolutionCount">0</h3>
					<p>Resolutions</p>
				</div>
				<div class="icon">
					<i class="ion ion-ios-lightbulb"></i>
				</div>
				<a href="/resolution/index" class="small-box-footer">More info <i class="ion ion-arrow-right-c"></i></a>
			</div>
		</div>

		<div class="col-lg-3 col-6">
			<div class="small-box bg-info">
				<div class="inner">
					<h3 id="feedbackCount">0</h3>
					<p>Feedbacks</p>
				</div>
				<div class="icon">
					<i class="ion ion-chatboxes"></i>
				</div>
				<a href="/feedback/index" class="small-box-footer">More info <i class="ion ion-arrow-right-c"></i></a>
			</div>
		</div>
	}
</div>


@section Scripts{
    <script>
        const time = new Date().getHours();
        let greeting;
        if (time < 12) {
            greeting = "Good Morning";
        } else if (time >= 12 && time <= 17) {
            greeting = "Good Afternoon";
        } else {
            greeting = "Good evening";
        }
        document.getElementById("greeting").innerText = greeting;
		const isAdmin = '@User.IsInRole("admin")' === 'True'
		const isStaff = '@User.IsInRole("staff")' === 'True'
		const isUser = '@User.IsInRole("user")' === 'True'
    </script>
    <script>
        $("li#nav-home").addClass("active")
        $(document).ready(function () {
            // get token from server
            const token = '@Context.Session.GetString("JWToken")';
            sessionStorage.setItem("JWToken", token);
			$.ajax({
				url: "https://localhost:7127/api/auth/me",
				headers: {
					Authorization: "Bearer " + token
				}
			}).done((result) => {
				localStorage.setItem("user", result.data.email)
			})
        });
    </script>
    <script src="~/js/dashboard.js"></script>
}
